<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<h1>Dashboard</h1>
<%  for (var i= 0;i<data.length;i++){ %>
	name : <%= data[i].firstName %><br>
	Email : <%= data[i].email %><br>
<% } %>

</body>
</html>
